@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.hide{
    display: none;
}

.container{
    max-width: 1320px;
    margin: 0 auto;

}

header{
    padding: 20px 0px;
    box-shadow: 0px 0px 5px #9898983b;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    display: flex;
    align-items: center;
}

header nav .logo h1{
    font-size: 45px;
    padding-left: 20px;
}

header p{
    margin-left: 15px;
}

header  p {
    font-weight: 700;
    font-size: 35px;
}
header  p span{
    color: deeppink;
    font-size: 35px;
    font-weight: 700;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
}
header nav ul a {
    margin: 20px 20px;
    text-decoration: none;
    color: #000000;
}
header nav ul div {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f9f9fa;
    padding: 8px 20px 8px 0;
    border-radius: 5px;
}

header .youtube{
    width: 40px;
    height: 40px;
}

header .tiktok{
    width: 40px;
    height: 30px;
}




/* banner section */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .text-area{
    margin-bottom: 20px;
}

.left-section{
    margin-left: 20px;
    width: 50%;
}

.banner .left-section h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner .left-section h1{
    font-size: 95px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner .left-section p i{
    width: 24px;
    height: 24px;
    
}

.banner .left-section p{
    margin: 5px 0px;
}

.banner .left-section p i{
    color: #f948b2;
}

.banner .left-section .download-icon i{
    transform: rotate(90deg);
}

.banner-button .btn-primary{
    display: inline-flex;
    text-transform: uppercase;
    border: none;
    padding: 18px 40px;
    align-items: flex-start;
    color: #FFF;
    gap: 20px;
    border-radius: 48px;
    background: #FF42A5;
    margin-right: 15px;
}


.banner-button .btn-secondary{
    color: #FFF;
    border-radius: 48px;
    background: #4EC5F7;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 18px 30px;
}

.banner .right-section{
    width: 50%;
}
.banner .right-section img{
    padding: 20px;
    width: 80%;
    height: 80%;
}


/* gamer section */

.unleash-gamer{
    display: flex;
}

.unleash-left{
    width: 60%;
    background: #4EC5F7;
}

.unleash-right{
    width: 40%;
    background: #F948B2;
}



